body{
  background-color: rgb(241, 232, 219);
  font-family: Arial;
}


.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top:0;
  width:100%;
  overflow: visible;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
#img{
  float:right;
      width:70px;
      height:50px;
      padding-top: 20px;
      padding-right:10px;
      
    } 










h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
  
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 35px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color:rgb(223, 202, 176);
  padding: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.text{
  text-align: center;
  line-height: 20px;
  letter-spacing: 20px;
  padding-top: 150px;
}

.container{
  padding-top: 100px;
  line-height: 30px;
 
  padding-left:40px;
  font-size: larger;
}
#images,#img01,#imgs{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  float:right;
}
#img01{
  
    padding:50px;
     border-radius: 50%;
   }
