body, html {
    height: 100%;
    background-color: grey;
    color:white;
  }
  .bg-image {
    /* The image used */
    
  
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(5px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
      *{
        box-sizing: border-box;
      }
    
      #img{
        float:right;
        width:70px;
        height:50px;
        padding-top: 10px;
        padding-right:10px;
        
      }      
  img {
   width:500px;
   padding-top: 100px;
   float:right;
   
  }
  
  .image {
    flex-basis: 40%
  }
  
  .text {
    font-size: 20px;
    padding-top: 10px;
    display: inline;
   float:left;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top:0;
    width:100%;
    overflow: visible;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  #text{
    padding-top: 120px;
    padding-left: 50px;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .bg-text {
  
    background-color: rgba(0,0,0, 0.4);
    font-weight: bold;
   position:relative;
    top:10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    
  
   
  }
  .containers{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    align-items: center;
    width: 80%;
    padding: 20px;
    text-align: center;
    letter-spacing: 8px;
    width:70%;
    margin:auto;
  
  }
  #texts{
    line-height: 50px;
    font-family:cursive;
    
  }
  p,h4{
    padding-left: 50px;
    padding-top: 30px;
  
  }
  #p1,#p2,#p3{
    font-family:monospace;
    line-height: 20px;
  }