body,html{
    background-image: url("istockphoto-1170264057-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  width: 100%;
  height:100%;
    
}
*{
  box-sizing: border-box;
}

     img{
  float:right;
  width:70px;
  height:50px;
  padding-top: 10px;
  padding-right:10px;
  
}      
    .topnav {
overflow: hidden;
background-color: #333;
position: fixed;
top:0;
width:100%;
}

/* Navbar links */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
padding-top:10px;

}
.container{
text-align:center;
line-height: 40px;
padding-top: 50px;




}
input{
width:250px;
height: 40px;
color:black;
background-color: rgb(240, 236, 227);
}
textarea{
padding-left:100px;
color:black

}
button{
padding:10px;

background-color: rgb(240, 236 227);
}