body, html {
    height: 100%;
    background-image:url("donate.jpg") ;
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  img{
        float:right;
        width:70px;
        height:50px;
        padding-top: 10px;
        padding-right:10px;
        
      }
    .topnav {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top:0;
    width:100%;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    padding-top:10px;
    
  }
  #image{
      width:500px;
      height:80%;
      padding-top: 50px;
  }
  #h1{
    padding-top: 200px;
    text-align: center;
    padding-left: 40px;
  }
  #h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right:5px ;
  
  }
  #h3{
    padding-top: 30px;
    font-weight: bold;
  
  
  }
  .container{
    text-align: center;
    font-weight: bold;
  }
  #button01{
    width:200px;
    height:60px;
    font-size:20px;
    border:2px solid black;
    border-radius: 5px;
    background-color:rgb(189, 142, 142);
  }
  #button01:hover{
    background-color: lightcoral;
    padding:10px;
  
  }
  #button{
    text-decoration: none;
    color: #f2f2f2;
  }